*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #D7B975;
  color: #2B2220; }

body {
  font-family: 'Oswald', sans-serif;
  color: #6D6D6D;
  font-weight: 300;
  letter-spacing: 0.05rem; }

a {
  color: #6D6D6D; }
  a:hover {
    color: #2B2220; }

.heading-primary {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #6D6D6D; }
  .heading-primary--yellow {
    color: #D7B975;
    font-weight: 300;
    line-height: 1; }
  .heading-primary--bold {
    font-weight: 700;
    background-color: #D7B975;
    color: #6D6D6D; }
  .heading-primary--grayish-red {
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #2B2220;
    position: absolute;
    top: -4.4rem;
    left: 7.5rem;
    right: 7.5rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  transition: all .2s;
  position: relative;
  font-weight: 300;
  font-size: 1.125rem;
  background-color: #fff;
  color: #6D6D6D;
  border: none;
  cursor: pointer; }

.btn--white {
  border-radius: 50% !important;
  font-size: auto;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }
  .btn--white:active, .btn--white:focus {
    outline: none; }
  .btn--white:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }

.btn--gradient {
  background-image: linear-gradient(to right, #D7B975, #c69b3a);
  color: #fff !important; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.project__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". . dom1 dom1 dom1 dom1 dom1 . dom2 dom2 dom2 dom2" ". dom3 dom3 dom3 dom3 dom3  . . dom2 dom2 dom2 dom2";
  grid-gap: 40px; }

.project__dom {
  position: relative; }
  .project__dom--1 {
    grid-area: dom1;
    margin-left: 1.5rem; }
  .project__dom--2 {
    grid-area: dom2;
    margin-top: 130px;
    margin-left: -.7rem; }
  .project__dom--3 {
    grid-area: dom3;
    margin-top: 16px; }

.project__btn-position {
  position: absolute !important; }
  .project__btn-position--1 {
    bottom: 3.75rem;
    right: 11.5rem; }
  .project__btn-position--2 {
    bottom: 1.55rem;
    right: 7rem; }
  .project__btn-position--3 {
    bottom: 1rem;
    left: 13rem; }

.project__icon {
  position: relative; }
  .project__icon, .project__icon::before {
    width: 1.5rem;
    height: 2px;
    background-color: #6D6D6D;
    display: inline-block; }
  .project__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .project__icon::before {
    top: 0;
    transform: rotate(90deg); }
  .project__icon {
    top: .8rem; }

.valuation__img {
  height: 21.875rem;
  width: 100%; }

.valuation__btn {
  position: absolute;
  bottom: -3rem;
  left: 7.5rem;
  right: 7.5rem; }

[class^="col-"] {
  padding: 0; }

.jumbotron {
  height: 33.5rem;
  position: relative;
  padding: 0 2rem 0 2rem;
  margin-bottom: 7rem;
  background: url(../img/flat_35m_img1.jpg) center center no-repeat; }
  .jumbotron__box {
    position: absolute;
    top: 22%;
    left: 9%; }
  .jumbotron__heading {
    font-family: 'Unica One', cursive;
    line-height: 1.45;
    margin-bottom: 0; }
  .jumbotron__heading-span {
    background-color: #fff;
    padding: .3rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }

nav {
  margin: 0 auto; }

ul {
  font-family: 'Unica One', cursive; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  margin-right: 4.5rem; }

.container {
  max-width: 1364px; }
