/*
0 - 575.98px:       Phone portrait
576px - 767.98px:   Phone landscape
768px - 991.98px;   Tablet portrait
992px - 1199.98px;  Tablet landscape
[1200 - 1800] is where our normal styles apply
1800 + :        Big desktop

Breakpoint argument choices:
- phone-port
- phone-land
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components

1em = 16px
1rem = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  @media only screen and (max-width: 767.98px) {
    html {
      font-size: 62.5%; } }

::selection {
  background-color: #D7B975;
  color: #2B2220; }

body {
  font-family: 'Oswald', sans-serif;
  color: #6D6D6D;
  font-weight: 300;
  letter-spacing: 0.05rem; }

.a-link {
  color: #6D6D6D;
  text-decoration: underline;
  transition: all .1s; }
  .a-link:hover {
    color: #2B2220; }
  @media only screen and (max-width: 767.98px) {
    .a-link {
      font-size: 1.6rem; } }

.heading-primary {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #6D6D6D; }
  .heading-primary--yellow {
    color: #D7B975;
    font-weight: 300;
    line-height: 1;
    position: relative; }
    @media only screen and (max-width: 767.98px) {
      .heading-primary--yellow {
        font-size: 3.6rem; } }
    .heading-primary--yellow__left {
      left: -3rem; }
      @media only screen and (max-width: 1199.98px) {
        .heading-primary--yellow__left {
          left: -5rem; } }
      @media only screen and (max-width: 767.98px) {
        .heading-primary--yellow__left {
          padding: 0; } }
  .heading-primary--bold {
    font-weight: 700;
    color: #6D6D6D;
    padding: 0 1rem;
    position: absolute;
    bottom: -0.9rem; }
    @media only screen and (max-width: 767.98px) {
      .heading-primary--bold {
        bottom: -1.3rem; } }
  .heading-primary--grayish-red {
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #2B2220;
    position: absolute;
    top: -5.4rem;
    left: 7.5rem;
    right: 7.5rem; }
    @media only screen and (max-width: 1199.98px) {
      .heading-primary--grayish-red {
        font-size: 1.5rem;
        top: -4rem;
        left: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 991.98px) {
      .heading-primary--grayish-red {
        font-size: 1.5rem;
        top: -4rem;
        left: 6rem;
        right: 6rem; } }
    @media only screen and (max-width: 767.98px) {
      .heading-primary--grayish-red {
        font-size: 2.4rem; } }
    @media only screen and (max-width: 575.98px) {
      .heading-primary--grayish-red {
        position: static; } }
    .heading-primary--grayish-red--valuation {
      position: relative;
      top: 0;
      left: 0;
      right: 0; }

.heading-secondary {
  font-family: 'Unica One', cursive;
  color: #6D6D6D; }
  .heading-secondary--small {
    font-size: 1.25rem; }
    @media only screen and (max-width: 767.98px) {
      .heading-secondary--small {
        font-size: 2rem; } }
    @media only screen and (max-width: 575.98px) {
      .heading-secondary--small {
        text-align: center; } }
  .heading-secondary--big {
    font-size: 1.875rem; }
    @media only screen and (max-width: 767.98px) {
      .heading-secondary--big {
        font-size: 3rem; } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border-radius: 0;
  position: relative;
  font-weight: 300;
  font-size: 1.125rem;
  color: #6D6D6D;
  cursor: pointer;
  transition: all .3s; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); }

.btn--white {
  border-radius: 50% !important;
  background-color: #fff;
  font-size: auto;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }
  .btn--white:active, .btn--white:focus {
    outline: none;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }
  .btn--white:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); }

.btn--gradient {
  position: relative;
  background-color: #cfae60;
  color: #fff !important;
  transition: all .3s;
  transform: scale(1); }
  @media only screen and (max-width: 767.98px) {
    .btn--gradient {
      line-height: 2.3rem;
      font-size: 1.5rem; } }
  .btn--gradient span {
    margin-left: .3rem;
    transition: margin-left .3s; }
  .btn--gradient:hover {
    background-color: #c08d17;
    transform: scale(1.03); }
    .btn--gradient:hover span {
      margin-left: .7rem; }

@media only screen and (max-width: 767.98px) {
  .btn--form {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
    font-size: 1.6rem !important; } }

@media only screen and (max-width: 767.98px) {
  .form-group {
    font-size: 1.4rem; } }

@media only screen and (max-width: 575.98px) {
  .form-group {
    width: 75%;
    margin: 0 auto 2rem auto; } }

@media only screen and (max-width: 991.98px) {
  .form-group__valuation {
    width: 75%;
    margin: 0 auto 2rem auto; } }

@media only screen and (max-width: 767.98px) {
  .form-group__valuation {
    width: 80%;
    margin: 0 auto 2rem auto; } }

.form-control {
  width: 92%;
  font-size: .875rem;
  padding: .25rem .625rem; }
  @media only screen and (max-width: 767.98px) {
    .form-control {
      font-size: 1.4rem;
      height: calc(3rem + 2px);
      padding: 1.8rem .4rem; } }
  @media only screen and (max-width: 575.98px) {
    .form-control {
      width: 100%;
      margin: 0 auto;
      padding: 1.5rem 0.625rem; } }
  .form-control__valuation {
    width: 85%; }
    @media only screen and (max-width: 991.98px) {
      .form-control__valuation {
        width: 65%;
        margin: auto; } }
    @media only screen and (max-width: 767.98px) {
      .form-control__valuation {
        width: 80%;
        margin: auto; } }

.project-carousel {
  font-weight: 300; }
  .project-carousel__caption {
    font-size: 1.5rem;
    color: #6D6D6D;
    bottom: -5rem;
    z-index: 1; }

.carousel-control-next, .carousel-control-prev {
  border: 0; }

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

.project__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". . dom1 dom1 dom1 dom1 dom1 . dom2 dom2 dom2 dom2" ". dom3 dom3 dom3 dom3 dom3  . . dom2 dom2 dom2 dom2";
  grid-gap: 2.5rem; }
  @media only screen and (max-width: 1199.98px) {
    .project__grid {
      grid-gap: 1.9rem; } }
  @media only screen and (max-width: 991.98px) {
    .project__grid {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "dom1" "dom2" "dom3"; } }

.project picture {
  position: relative; }

.project__dom {
  position: relative; }
  .project__dom--1 {
    grid-area: dom1; }
  .project__dom--2 {
    grid-area: dom2;
    margin-top: 130px; }
    @media only screen and (max-width: 991.98px) {
      .project__dom--2 {
        margin-top: 48px;
        margin-left: auto; } }
    @media only screen and (max-width: 575.98px) {
      .project__dom--2 {
        margin-top: 0; } }
  .project__dom--3 {
    grid-area: dom3;
    margin-top: 48px; }
    @media only screen and (max-width: 991.98px) {
      .project__dom--3 {
        margin-top: 48px; } }
    @media only screen and (max-width: 575.98px) {
      .project__dom--3 {
        margin-top: 0; } }

.project__btn-position {
  position: absolute !important; }
  .project__btn-position--1 {
    bottom: 1.4rem;
    left: 19rem;
    z-index: 10; }
    @media only screen and (max-width: 767.98px) {
      .project__btn-position--1 {
        bottom: 22rem;
        left: 26.8rem; } }
  .project__btn-position--2 {
    bottom: 1.4rem;
    left: 19rem;
    z-index: 10; }
    @media only screen and (max-width: 767.98px) {
      .project__btn-position--2 {
        bottom: 10.5rem;
        left: 1.2rem; } }
  .project__btn-position--3 {
    bottom: 1.4rem;
    left: 14rem;
    z-index: 10; }
    @media only screen and (max-width: 767.98px) {
      .project__btn-position--3 {
        bottom: 10.5rem;
        left: 27.3rem; } }

.project__icon {
  position: relative; }
  .project__icon, .project__icon::before {
    width: 1.5rem;
    height: 2px;
    background-color: #6D6D6D;
    display: inline-block; }
  .project__icon::before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .project__icon::before {
    top: 0;
    transform: rotate(90deg); }
  .project__icon {
    top: .8rem; }

.project__heading-background {
  background-color: #D7B975;
  width: 7.5rem;
  height: 30px;
  position: absolute;
  left: 10.35rem;
  margin-top: .25rem; }
  @media only screen and (max-width: 1199.98px) {
    .project__heading-background {
      height: 30px; } }
  @media only screen and (max-width: 991.98px) {
    .project__heading-background {
      height: 30px;
      left: 10.3rem; } }
  @media only screen and (max-width: 767.98px) {
    .project__heading-background {
      margin-top: .4rem;
      left: 16rem;
      width: 10.7rem; } }
  @media only screen and (max-width: 575.98px) {
    .project__heading-background {
      left: 17rem; } }
  .project__heading-background--house {
    left: 3.8rem;
    width: 9rem; }
    @media only screen and (max-width: 767.98px) {
      .project__heading-background--house {
        width: 13rem;
        left: 6rem; } }
    @media only screen and (max-width: 575.98px) {
      .project__heading-background--house {
        left: 7rem; } }

.project-1__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "dom1 dom1 dom1 dom1 dom1 . dom2 dom2 dom2 dom2 dom2 dom2" "dom1 dom1 dom1 dom1 dom1 . dom3 dom3 dom3 dom3 . .";
  grid-gap: 2.5rem; }
  @media only screen and (max-width: 1199.98px) {
    .project-1__grid {
      grid-gap: 1.9rem; } }
  @media only screen and (max-width: 767.98px) {
    .project-1__grid {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "dom2" "dom1" "dom3";
      grid-gap: 7.2rem; } }

.project-1__dom {
  position: relative; }
  .project-1__dom--1 {
    grid-area: dom1;
    margin-left: 1.5rem; }
    @media only screen and (max-width: 991.98px) {
      .project-1__dom--1 {
        margin-left: 0; } }
    @media only screen and (max-width: 575.98px) {
      .project-1__dom--1 {
        margin-left: 0; } }
  .project-1__dom--2 {
    grid-area: dom2;
    margin-top: 70px; }
    @media only screen and (max-width: 575.98px) {
      .project-1__dom--2 {
        margin-top: 0 !important; } }
  .project-1__dom--3 {
    grid-area: dom3;
    margin-top: 70px; }
    @media only screen and (max-width: 767.98px) {
      .project-1__dom--3 {
        margin-top: 0px; } }
    @media only screen and (max-width: 575.98px) {
      .project-1__dom--3 {
        margin-top: 0 !important; } }

.valuation__btn {
  position: absolute;
  bottom: -2.8rem;
  left: 7.5rem;
  right: 7.5rem; }
  @media only screen and (max-width: 767.98px) {
    .valuation__btn {
      bottom: -4.8rem; } }

.footer {
  background-color: #2B2220;
  font-size: 0.875rem;
  color: #6D6D6D; }
  @media only screen and (max-width: 767.98px) {
    .footer {
      font-size: 1.2rem; } }
  .footer__a-link {
    color: #6D6D6D;
    text-decoration: underline;
    transition: all .1s; }
    .footer__a-link:hover {
      color: #979797; }

[class^="col-"] {
  padding: 0; }

.jumbotron {
  height: 33.5rem;
  position: relative;
  padding: 0 2rem 0 2rem;
  margin-top: 4.875rem;
  margin-bottom: 7rem;
  background: url(../../img/flat_35m_img1.jpg) center center no-repeat;
  border-radius: 0; }
  @media only screen and (max-width: 991.98px) {
    .jumbotron {
      margin-top: 3.875rem; } }
  @media only screen and (max-width: 767.98px) {
    .jumbotron {
      height: 51.5rem; } }
  .jumbotron__box {
    position: absolute;
    top: 22%;
    left: 9%; }
  .jumbotron__heading {
    font-family: 'Unica One', cursive;
    line-height: 4.6875rem;
    font-size: 3.625rem;
    margin-bottom: 0; }
    @media only screen and (max-width: 767.98px) {
      .jumbotron__heading {
        font-size: 4.9rem;
        line-height: 6.2rem; } }
  .jumbotron__heading-span {
    background-color: #fff;
    padding: 0 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  @media only screen and (max-width: 767.98px) {
    .jumbotron__project {
      margin-bottom: 0px; } }
  @media only screen and (max-width: 575.98px) {
    .jumbotron__project {
      margin-bottom: 15rem; } }
  .jumbotron__text-box {
    width: 41.375rem;
    position: absolute;
    bottom: -22%;
    right: 0;
    background-color: #fff; }
    .jumbotron__text-box--font {
      font-family: 'Unica One', cursive; }
    @media only screen and (max-width: 991.98px) {
      .jumbotron__text-box {
        width: 35rem;
        bottom: -18%; } }
    @media only screen and (max-width: 767.98px) {
      .jumbotron__text-box {
        width: 30rem;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -85%); } }
    @media only screen and (max-width: 575.98px) {
      .jumbotron__text-box {
        width: 27.8rem;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%); } }
  .jumbotron__text {
    width: 29.0625rem;
    margin: 3rem 5.25rem;
    border-left: 1px solid #6D6D6D; }
    @media only screen and (max-width: 991.98px) {
      .jumbotron__text {
        width: 25rem;
        margin: 3rem 5.25rem; } }
    @media only screen and (max-width: 767.98px) {
      .jumbotron__text {
        width: 23rem;
        margin: 2.5rem 3.5rem;
        font-size: 1.4rem;
        border-left: 0px; } }
    @media only screen and (max-width: 575.98px) {
      .jumbotron__text {
        width: 25rem;
        margin: 2rem;
        border-left: 0px; } }

nav {
  margin: 0 auto;
  background-color: #fff; }
  nav .hamburger {
    margin: 0;
    padding: 12px;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
  nav .hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 25px;
    height: 20px; }
  nav .hamburger__bars {
    position: absolute;
    width: 25px;
    height: 1.2px;
    background-color: #6D6D6D;
    transition: transform 220ms ease-in-out; }
    nav .hamburger__bars:before, nav .hamburger__bars:after {
      display: block;
      position: absolute;
      right: 0;
      height: 1.2px;
      background-color: #6D6D6D;
      content: ''; }
    nav .hamburger__bars:before {
      width: 19px;
      top: -8px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out; }
    nav .hamburger__bars:after {
      width: 14px;
      bottom: -8px;
      transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out; }
  nav .hamburger--active .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 220ms 120ms ease-in-out; }
    nav .hamburger--active .hamburger__bars:before {
      width: 25px;
      top: 0;
      transition: top 100ms ease-out; }
    nav .hamburger--active .hamburger__bars:after {
      width: 25px;
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out,  transform 220ms 120ms ease-in-out; }
  nav .hamburger:focus,
  nav .hamburger__container:focus {
    outline: none; }
  nav .navbar-nav {
    font-family: 'Unica One', cursive; }
  nav .nav-link {
    position: relative;
    padding: .3rem 0 .3rem 0 !important;
    line-height: 2.125rem; }
    @media only screen and (max-width: 767.98px) {
      nav .nav-link {
        font-size: 1.6rem; } }
    @media only screen and (max-width: 575.98px) {
      nav .nav-link {
        padding: 2rem 0 2rem 0 !important;
        margin: 0 10rem; } }
    nav .nav-link:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      right: 0;
      left: auto;
      bottom: 0;
      height: 1px;
      background: #6D6D6D; }
    nav .nav-link:hover:after {
      width: 100%;
      left: 0; }

.container {
  max-width: 1364px; }
  @media only screen and (max-width: 575.98px) {
    .container {
      padding: 0; } }

.contact__link {
  line-height: 2.5; }

@media only screen and (max-width: 767.98px) {
  .contact__info {
    font-size: 1.6rem; } }

@media only screen and (max-width: 575.98px) {
  .contact__info {
    text-align: center; } }

@media only screen and (max-width: 575.98px) {
  .row {
    margin: 0; } }

.valuation__img {
  width: 100%; }
