.jumbotron {
    height: 33.5rem;
    position: relative;
    padding: 0 2rem 0 2rem;
    margin-bottom: 7rem;
    background: url(../img/flat_35m_img1.jpg) center center no-repeat;
}

.jumbotron__heading {
    position: absolute;
    top: 22%;
    left: 10%;
}