.jumbotron {
    height: 33.5rem;
    position: relative;
    padding: 0 2rem 0 2rem;
    margin-top: 4.875rem;
    margin-bottom: 7rem;
    background: url(../img/flat_35m_img1.jpg) center center no-repeat;

    &__box {
        position: absolute;
        top: 22%;
        left: 9%;
    }

    &__heading {
        font-family: 'Unica One', cursive;
        line-height: 1.45;
        margin-bottom: 1rem;
    }

    &__heading-span {
        background-color: $color-white;
        padding: .3rem 1rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}