nav {
    margin: 0 auto;
    background-color: $color-white;

    .navbar-nav {
        font-family: 'Unica One', cursive;
    }

    .nav-link {
        position: relative;
        padding: .3rem 0 .3rem 0 !important;
        line-height: 2.125rem;

        @include respond(phone-land) {  //width < 767.98px
            font-size: 1.6rem;
        }

        @include respond(phone-port) {  //width < 576
            padding: 2rem 0 2rem 0 !important;
            margin: 0 10rem;
        }

        &:after {
            position: absolute;
            transition: .3s;
            content: '';
            width: 0;
            right: 0;
            left: auto;
            bottom: 0;
            height: 1px;
            background: $color-grey-dark;
        }
        
        &:hover {
            
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
    
}

// ul {
//     font-family: 'Unica One', cursive;
// }

// .navbar {
//     padding: .5rem 0;
// }

// .navbar-brand {
//     margin-right: 4.5rem;
// }

// .nav-link {
//     text-decoration: none;
//     padding: .3rem 0 .3rem 0 !important;

//     @include respond(phone-port) {  //width < 576
//         padding: 2rem 0 2rem 0 !important;
//     }
// }