nav {
    margin: 0 auto;
    background-color: $color-white;

    .hamburger {
        margin: 0;
        padding: 12px;
        border: 0;
        background-color: transparent;
        cursor: pointer;
            // &:focus {
            //     & > .hamburger__container {
            //     box-shadow: 0 0 2px 2px #51a7e8;
            //     }
            // }
        }
        
        .hamburger__container {
            display: flex;
            align-items: center;
            position: relative;
            width: 25px;
            height: 20px;
        }
        
        .hamburger__bars {
            position: absolute;
            width: 25px;
            height: 1.2px;
            background-color: $color-grey-dark;
            transition: transform 220ms ease-in-out;

            &:before, 
            &:after {
                display: block;
                position: absolute;
                // width: 25px;
                right: 0;
                height: 1.2px;
                background-color: $color-grey-dark;
                content: '';
            }

            &:before {
                width: 19px;
                top: -8px;
                transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
            }

            &:after {
                width: 14px;
                bottom: -8px;
                transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
            }
        }
        
        .hamburger--active {
            .hamburger__bars {
                transform: rotate(225deg);
                transition: transform 220ms 120ms ease-in-out;

                &:before {
                    width: 25px;
                    top: 0;
                    transition: top 100ms ease-out;   
                }

                &:after {
                    width: 25px;
                    bottom: 0;
                    transform: rotate(-90deg);
                    transition: bottom 100ms ease-out, 
                    transform 220ms 120ms ease-in-out;
                }
            }
        }
        
        .hamburger, 
        .hamburger__container {
            &:focus {
                outline: none;
            }
        }

    .navbar-nav {
        font-family: 'Unica One', cursive;
    }

    .nav-link {
        position: relative;
        padding: .3rem 0 .3rem 0 !important;
        line-height: 2.125rem;

        @include respond(phone-land) {  //width < 767.98px
            font-size: 1.6rem;
        }

        @include respond(phone-port) {  //width < 576
            padding: 2rem 0 2rem 0 !important;
            margin: 0 10rem;
        }

        &:after {
            position: absolute;
            transition: .3s;
            content: '';
            width: 0;
            right: 0;
            left: auto;
            bottom: 0;
            height: 1px;
            background: $color-grey-dark;
        }
        
        &:hover {
            
            &:after {
                width: 100%;
                left: 0;
            }
        }
    }
}

// ul {
//     font-family: 'Unica One', cursive;
// }

// .navbar {
//     padding: .5rem 0;
// }

// .navbar-brand {
//     margin-right: 4.5rem;
// }

// .nav-link {
//     text-decoration: none;
//     padding: .3rem 0 .3rem 0 !important;

//     @include respond(phone-port) {  //width < 576
//         padding: 2rem 0 2rem 0 !important;
//     }
// }