.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        border-radius: 0;
        position: relative;
        font-weight: 300;
        font-size: 1.125rem;
        background-color: $color-white;
        color: $color-grey-dark;
        cursor: pointer;
        transition: all .3s;

        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 0 .5rem rgba($color-black, .1);
        }
    }

    &--white {
        border-radius: 50% !important;
        font-size: auto;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        outline: none;
        
        &:active,
        &:focus {
            outline: none;
            box-shadow: 0 .1rem .2rem rgba($color-black, .2);
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 .1rem .2rem rgba($color-black, .2);
        }
    }
    
    &--gradient {
        position: relative;
        // background-image: linear-gradient(to right, 
        //                                 $color-yellow-light 0%, 
        //                                 $color-yellow-light-m 50%, 
        //                                 $color-yellow-dark 100%);
        background-color: $color-yellow-light-m;
        color: $color-white !important;

        transition: all .3s;
        transform: scale(1);

        @include respond(phone-land) {  //width < 768
            line-height: 2.3rem;
            font-size: 1.5rem;
        }

        & span {
            margin-left: .3rem;
            transition: margin-left .3s;
        }

        &:hover {
            background-color: $color-yellow-darker;
            // background-image: linear-gradient(to right, 
            //                             $color-yellow-light-m 0%, 
            //                             $color-yellow-dark 50%, 
            //                             $color-yellow-darker 100%);
            transform: scale(1.03);

            span {
                margin-left: .7rem;
            }
        }
    }

    &--form {

        @include respond(phone-land) {  //width < 768
            padding-left: 8rem!important;
            padding-right: 8rem!important;
        }
    }
}

// .btn-text {
//     &:link,
//     &:visited {
//         font-size: 1rem;
//         color: $color-primary;
//         display: inline-block;
//         text-decoration: none;
//         border-bottom: 1px solid $color-primary;
//         padding: .3rem .6rem;
//         transition: all .2s;
//     }

//     &:hover {
//         background-color: $color-primary;
//         color: $color-white;
//         box-shadow: 0 1rem 2rem rgba($color-black, .15);
//         transform: translateY(-2px);
//     }

//     &:active {
//         box-shadow: 0 .5rem 1rem rgba($color-black, .15);
//         transform: translateY(0);
//     }
// }