.project {
    &__grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(12, 1fr);
        
        grid-template-areas: ". . dom1 dom1 dom1 dom1 dom1 . dom2 dom2 dom2 dom2"
                            ". dom3 dom3 dom3 dom3 dom3  . . dom2 dom2 dom2 dom2";

        grid-gap: 40px;
    }

    &__dom {
        position: relative;

        &--1 {
            grid-area: dom1;
            margin-left: 1.5rem;
        }
    
        &--2 {
            grid-area: dom2;
            margin-top: 130px;
            margin-left: -.7rem;
        }
    
        &--3 {
            grid-area: dom3;
            margin-top: 16px;
        }
    }

    &__btn-position {
        position: absolute !important;

        &--1 {
            bottom: 4.6rem;
            right: 10.5rem;
            z-index: 10;
        }

        &--2 {
            bottom: 3.55rem;
            right: 5.5rem;
            z-index: 10;
        }

        &--3 {
            bottom: 1.8rem;
            left: 13rem;
            z-index: 10;
        }
    }

    &__icon {
        position: relative;
        // margin-top: 3.5rem;

        &,
        &::before{
            width: 1.5rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: 0; transform: rotate(90deg) }
        & { top: .8rem; }
    }

    &__heading-background {
        background-color: $color-yellow-light;
        width: 7.5rem;
        height: 30px;
        position: absolute;
        left: 10.35rem;
        margin-top: .22rem;

        &--house {
            left: 3.8rem;
            width: 9rem;
        }
    }
}