body {
    font-family: 'Oswald', sans-serif;
    color: $color-grey-dark;
    font-weight: 300;
    letter-spacing: $letter-spacing-small;
}

a {
    color: $color-grey-dark;

    &:hover {
        color: $color-grayish-red;
    }
}

.heading-primary {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: $letter-spacing-medium;
    color: $color-grey-dark;
    
    &--yellow {
        color: $color-yellow-light;
        font-weight: 300;
        line-height: 1;
        // @include respond(phone) {
        //     letter-spacing: .5rem;
        // }
    }

    &--bold {
        font-weight: 700;
        background-color: $color-yellow-light;
        color: $color-grey-dark;
    }

    &--grayish-red {
        padding: 1rem;
        line-height: 1.5;
        text-align: center;
        color: $color-grayish-red;

        position: absolute;
        top: -4.4rem;
        left: 7.5rem;
        right: 7.5rem;
    }
}