body {
    font-family: 'Oswald', sans-serif;
    color: $color-grey-dark;
    font-weight: 300;
    letter-spacing: $letter-spacing-small;
}

.a-link {
    color: $color-grey-dark;
    text-decoration: underline;

    &:hover {
        color: $color-grayish-red;
    }
}

.heading-primary {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: $letter-spacing-medium;
    color: $color-grey-dark;
    
    &--yellow {
        color: $color-yellow-light;
        font-weight: 300;
        line-height: 1;
        position: relative;
        // @include respond(phone) {
        //     letter-spacing: .5rem;
        // }
    }

    &--bold {
        font-weight: 700;
        color: $color-grey-dark;
        padding: 0 1rem;
        position: absolute;
        bottom: -0.9rem;
    }

    &--grayish-red {
        padding: 1rem;
        line-height: 1.5;
        text-align: center;
        color: $color-grayish-red;

        position: absolute;
        top: -5.4rem;
        left: 7.5rem;
        right: 7.5rem;
    }
}

.heading-secondary {
    font-family: 'Unica One', cursive;
    color: $color-grey-dark;

    &--small {
        font-size: 1.25rem;
    }

    &--big {
        font-size: 1.875rem;
    }
}

// .heading-secondary {
//     font-family: 'Unica One', cursive;
//     font-size: 1.875rem;
//     color: $color-grey-dark;
// }

// .heading-tertiary {
//     font-family: 'Unica One', cursive;
//     font-size: 1.25rem;
//     color: $color-grey-dark;
// }