body {
    font-family: 'Oswald', sans-serif;
    color: $color-grey-dark;
    font-weight: 300;
}

a {
    color: $color-grey-dark;

    &:hover {
        color: $color-grayish-red;
    }
}

.heading__3 {
    color: $color-yellow-light;
    font-size: 30px;
    font-weight: 300;

    &--bold {
        font-weight: 700;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        // @include respond(phone) {
        //     letter-spacing: 1rem;
        //     font-size: 5rem;
        // }
    
        /*
        animation-iteration-count: 3;
        animation-delay: 3s;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        // @include respond(phone) {
        //     letter-spacing: .5rem;
        // }
    }
}